[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chatgpt"]
	path = chatgpt
	url = https://github.com/jcrodriguez1989/chatgpt
[submodule "malvinas"]
	path = malvinas
	url = https://github.com/jcrodriguez1989/malvinas
[submodule "rco"]
	path = rco
	url = https://github.com/jcrodriguez1989/rco
